{% set direction = 'rtl' %}
{% extends '@layout/default.html.twig' %}

{% block title %}Unavailable{% endblock %}
{% block content %}
        <h2 style="text-align: center;">
            با عرض پوزش سایت از ساعت 23:00 لغایت 00:30 در دسترسی نمی باشد
        </h2>
{% endblock %}
